[BASIC]
# Good variable names which should always be accepted, separated by a comma
good-names=logger

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=7

[MISCELLANEOUS]
# List of note tags to take in consideration, separated by a comma.
notes=FIXME,XXX

[DESIGN]
# Maximum number of arguments for function / method
max-args=12
